body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
    
}



#break{
    color: rgb(54, 149, 187);
    font-size: 40px;
}

#favourite{
    color: rgb(51, 0, 145);
    font-size: 40px;
}

#snackbreak{
    color: rgb(54, 149, 187);
    font-size: 40px;

}

#normal{
    color: rgb(53, 51, 51);
    font-size: 30px;
    
}

#narmal2{
    color: rgb(53, 51, 51);
    font-size: 30px;
}

#shortdes1{
    color: rgb(65, 64, 64);
    padding-bottom: 20px;
    padding-top: 20px;
    font-family:cursive;
}

#orderlink{
    text-decoration: none;
    background-image: linear-gradient(skyblue, blue);
    padding: 8px 20px;
    border-radius: 40px;
    color: honeydew;
}

#kidimg{
    padding-top: 15px;
    padding-left: 20px;
}

#dwn{
    padding-top: 65px;
}


.firstpage{
    padding-left: 40px;
    width: 100%;
    
}

.dis{
    display: flex;
    margin-bottom: 7%;
}

.dis2{
    background-image: url(images/shapes/Frame57.jpg);
    background-repeat: no-repeat;
    background-size:cover;  
    background-position: top;
    margin-bottom: 7%;
    display: flex;
    
    
}

#mamz{
    color: rgb(54, 149, 187);
    font-weight: bold;

}

#shortdes2{
    font-family: cursive;
    width: 40%;
    padding-top: 20px;
    padding-left: 170px;
    text-align: center;
    margin-bottom: 50px;
}

#about{
        padding-left: 255px;
        padding-top: 50px;
        color: rgb(53, 51, 51);
}
#orderlink2{
    text-decoration: none;
    background-image: linear-gradient(skyblue, blue);
    padding: 8px 20px;
    border-radius: 40px;
    color: honeydew;
    margin-left: 250px;
}

#chefimg{
    padding-left: 150px;
    padding-bottom: 80px;
    padding-top: 30px;
}

#menuone{
    text-align: center;
    font-size: 35px;
    color: rgb(53, 51, 51);
    padding-left: 40px;
}

#menudes{
    font-family: cursive;
    text-align: center;
    width: 50%;
    margin-left: 335px;
    margin-bottom: 50px;

}

.dis3{
    display: flex;
    margin-bottom: 10%;
}


.murgi{
    padding-left: 40px; 
    
}

.yesone{
    font-family: cursive;
    text-align: left;
    width: 80%;
    padding-left: 40px;
    
}

.chobi{
    padding-left: 20px;
    padding-top: 10px;
}

.duplione{
    border: black 1px solid;
    border-radius: 52px;
    box-shadow: 5px 10px 10px #888888;
    width: 30%;
    margin-left: 20px;
}

.darun{
    display: flex;
    
    padding-left: 500px;
    margin-bottom: 20px;

}

.high{
    width: 10%;
    padding-left: 10px;
}

h2{
    text-align: center;
}

.last{
    border: solid 100px black;
    
    background-color: black;
}

#brosky{ 
    color: rgb(54, 149, 187);
    font-size: 40px;
    text-align: center;
    padding-left: 400px;

}

footer{
    color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
    padding-left: 365px;
}